.body {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	display: block;
	color: red;
	background-color: black;
	text-align: center;
	padding: 20px;
}


a {
	color: red;
	background-color: black;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	font-weight: 600;
	text-decoration: none;
}

header {
	width: 100%;
	display: flex;
	background-color: black;
	justify-content: center;
	gap: 40px;
}

ul {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

li {
	border: 3px solid rgb(39, 38, 38);
	padding: 10px;
	list-style: none;
	justify-content:center;
	border-radius: 10px;
	background-color: rgba(53, 48, 48, 0.295);
}

li:hover {
	background-color: rgba(139, 112, 112, 0.295);
	border: 2px solid rgb(39, 38, 38);
}


.button {
	display: flex; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	row-gap: 20px;
} 

.Delete {
	background-color: #080808;
	font-size: 20px;
	color: red;
	padding: 11px;
	font-size: 34px;
	border:none;
}

.label {
	color: rgba(240, 226, 226, 0.39);
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

span {
	color: white;
	font-weight: 400;
	max-width: 10px;
}

.buttonsave {
	padding: 10px;
	background-color: #971b1b;
	border-radius: 20px;
	padding: 0px 60px 0px 60px;
	font-size: 18px;
}

.buttonsave:hover {
	background-color: rgba(240, 226, 226, 0.39);
}

.active {
	color: rgba(240, 226, 226, 0.39);
	text-shadow:  1px 1px 1px rgb(252, 251, 251), 0 0 1em rgb(5, 5, 5), 0 0 0.2em rgb(246, 246, 250);
}


.checDeletEdit {
	display: flex;
	justify-content: center;
	gap: 25px
}


.trueChecked {
	text-decoration: line-through;
	color: rgba(88, 87, 87, 0.39);
	background-color: rgb(192, 190, 190);
}